*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f363e;
}
.box{
  position: relative;
  width: 450px;
  height: 550px;
  border-radius: 30px;
  background: #2f363e;
  padding: 30px 50px;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.5),
  10px 10px 70px rgba(0, 0, 0, 0.025),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255, 255, 255, 0.2),
  inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
h2
{
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: aliceblue;
  font-size: 1.75em;
}
#inputBx{

position: relative;
width: 100%;
border: none;
outline: none;
padding: 15px 20px;
border-radius: 30px;
font-size: 1em;
box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.025), inset 2px 2px 5px rgba(0,0,0,0.5)
inset -3px -3px 5px
}